.tabs{
    padding: 15px 0px;
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid rgb(220, 220, 220);
    justify-content: center;
}
.tab-links{
    width: 1136px;
    display: flex;
    align-items: center;
}
.tabs a{
    margin-right: 25px;
    font-size: 14px;
    color: #333333;
}
.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    width: 1136px;
    margin-top: 50px;
}
.article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 256px;
}
.article img{
    width: 720px;
    height: auto;
}
.article-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.faves{
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}
.fave-section{
    width: 1136px;
    display: flex;
    flex-direction: column;
}
.title p{
    margin-top:-10px;
    color: #636363;
    font-weight: 600;
}
.more-card{
    width: 1136px;
    margin-bottom: 100px;
}
hr{
    margin: 50px 0px;
    width: 720px;
    border-color: #ffffff6e;
}
.social-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}
.icon{
    width: 24px;
    height: auto;
    height: auto;
    padding: 7.5px;
    border-radius: 100%;
}
.icon:hover{
    background-color: #c4c4c471;
    transition: all 0.7s;
    cursor: pointer;
}
.more-card2:hover{
    opacity: 0.8;
    transition: all 0.5s ease;
}